@import "normalize";


*,
*::after,
 ::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font: 16px 'Open Sans';
  font-family: 'Ubuntu Mono', monospace;
  font-weight: 300;
  color: #555;
  background-color: #FAFCFD;
}

a {
  color: inherit;
  text-decoration: none;
}

.github-fork-ribbon.left-top:before {
    background-color: #090;
}
a.github-fork-ribbon, a.github-fork-ribbon:visited {
    color: #c00;
}

@keyframes bounceInLeft {
    from, 60%, 75%, 90%, to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        transform: translate3d(-3000px, 0, 0);
    }

    60% {
        opacity: 1;
        transform: translate3d(25px, 0, 0);
    }

    75% {
        transform: translate3d(-10px, 0, 0);
    }

    90% {
        transform: translate3d(5px, 0, 0);
    }

    to {
        transform: none;
    }
}

.bounce-in-enter-active, .bounce-in-leave-active {
    animation-name: bounceInLeft;
    animation-duration: 0.4s;
    animation-fill-mode: both;
  }
.bounce-in-leave-active {
    animation-direction: reverse;
}

#app {
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;

    .content {
        overflow: hidden;
        flex: 1;

        .header {
            padding: 0.67em 2em;
            box-shadow: 0 10px 10px RGBA(75,92,109,0.3);
            z-index: 999;
            position: relative;

            h1#navscroll-title {
                margin: 8px 0;

                code {
                    color: rgb(245, 142, 142);
                }
            }

            .label { margin: 0.25em 0; }

            .btn {
                appearance: none;
                -webkit-appearance: none;
                background: transparent;
                border: 0;
                text-decoration: underline;
                margin: 4px;
                outline: none;
                cursor: pointer;
            }

            /* Custom Select */
            .select {
                position: relative;
                display: inline-block;
                width: 28em;
                height: 3em;
                line-height: 3;
                background: #2c3e50;
                overflow: hidden;
                border-radius: .25em;

                select {
                    /* Reset Select */
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    -ms-appearance: none;
                    appearance: none;
                    outline: 0;
                    box-shadow: none;
                    border: 0 !important;
                    background: #2c3e50;
                    background-image: none;

                    width: 100%;
                    height: 100%;
                    margin: 0;
                    padding: 0 0 0 .5em;
                    color: #fff;
                    cursor: pointer;

                    &::-ms-expand {
                        display: none;
                    }
                }

                &:hover::after {
                    color: #f39c12;
                }

                &::after {
                    /* Arrow */
                    content: '\25BC';
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    padding: 0 1em;
                    background: #34495e;
                    pointer-events: none;

                    /* Transition */
                    -webkit-transition: .25s all ease;
                    -o-transition: .25s all ease;
                    transition: .25s all ease;
                }
            }

            pre {
                white-space: pre-wrap;
                height: 0;
                overflow: hidden;
                &.pre-open {
                    height: auto;
                    width: auto;
                    background-color: #dedede;
                    padding: 8px 12px;
                    border-left: 4px solid #4CAF50;
                    word-wrap: break-word;
                    font-family: Consolas,"courier new";
                }
            }
        }

        #scrollable-content {
            width: 100%;
            height: 100%;
            overflow: auto;
            padding: 2em 2.5em 1em;

            * {
                transition: all 0.4s;
            }

            &.scrollx {
                overflow-y: hidden;
                white-space: nowrap;
                height: 700px;
                .card-section {
                    display: inline-block;
                    margin: 0 2em auto;
                    height: 100%;
                }
            }

            .card-section {
                margin: 0 auto 2em;
                min-width: 400px;
                min-height: 3em;
                border-radius: 5px;
                color: #555;
                background-color: #ffffff;
                box-shadow: 0 5px 20px rgba(85, 85, 85, 0.1);
                overflow: auto;

                h3 {
                    color: #5f7770;
                    margin: 0;
                    padding: 0.6em 1.3em;
                    background-color: rgba(#3BB86C, 0.2);
                }

                table {
                    font-family: 'Ubuntu Mono';
                    min-width: 100%;
                    font-size: 0.8em;
                    border-spacing: 1px;

                    td, th {
                        padding: .5em 1em;
                        text-align: center;
                    }

                    th {
                        font-weight: normal !important;
                        background-color: #485B55;
                        color: #efefef;
                    }

                    tr {
                        &:nth-child(even) {
                            background-color: rgba(72, 91, 85, 0.05);
                        }
                        &:hover {
                            background-color: rgba(253, 150, 159, 0.2);
                        }
                    }
                }
            }
        }
    } // End content

    .sidebar {
        height: 100%;
        float: left;
        background-image: linear-gradient(135deg, #5f7770, #485B55);
        font-size: 0.8rem;
        position: relative;
        color: #D6D9DD;
        display: flex;
        flex-direction: column;
        flex: 0 1 15rem;

        > * {
            float: left;
            width: 100%;
        }

        .logo {
            text-align: center;
            background: RGBA(75,92,109,0.4);
            padding: 2em 0;
        }

        h2 {
            text-align: center;
            margin: 1.2em 0;
            text-decoration: underline;
        }

        .options-toggle {
            display: block;
            height: 3em;
            -webkit-appearance: none;
            background: rgba(0,0,0,0.1);
            border: 0;
            cursor: pointer;
            color: #D5D8DC;
        }

        .navscroll-options {
            &:not(.visible) {
                display: none;
                transition: all 1s;
            }
            opacity: 1;
            right: 20px;
            position: absolute;
            left: calc(100%);
            bottom: 0px;
            z-index: 10;
            min-width: 200px;
            padding: 15px 30px;
            border-radius: 0 10px 10px 0;
            background-color: rgba(#4E615B, 0.9);

            label {
                color: #D6D9DD;
            }

            button {
                background-color: #D9F0E2;
                cursor: pointer;
                color: #607770;
                -webkit-appearance: button;
                text-transform: none;
                &:hover {
                    background-color: #607770;
                    color: #D9F0E2;
                }
            }

            button, input {
                overflow: visible;
                font-family: sans-serif;
                font-size: 100%;
                line-height: 1.15;

                display: block;
                width: 100%;
                height: 42px;
                padding: 10px 20px;
                margin-top: 8px;
                margin-bottom: 8px;
                border: 0;
                border: 2px solid #D9F0E2;
                border-radius: 10px;
                font-weight: 600;
                outline: 0;
                transition: all .1s;
            }
        }

        .entries {
            margin-top: 2em;
            overflow-y: auto;
            font-size: 0.8rem;
            direction: rtl;
            &::-webkit-scrollbar {
                width: 10px;
                height: 10px;
                border-radius: 10px;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 10px;
                background: #3f504a;
            }

            &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                border-radius: 10px;
                background: transparent;
            }
            .entry {
                padding: 0.5em 3em;
                position: relative;
                text-transform: capitalize;
                display: flex;
                justify-content: center;
                padding: 0.5em 1em;
                cursor: pointer;
                direction: ltr;

                .entry-name {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    transition: color 0.1s;
                    height: 2rem;
                    display: inline-flex;
                    align-items: center;
                }

                &.active-position {
                    background-color: rgba(255, 255, 255, 0.1);
                    &::after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: translateY(-50%);
                        border: 10px solid transparent;
                        border-right-color: #FAFCFD;
                    }
                }

                &:hover {
                    background-color: rgba(0, 0, 0, 0.1);
                }
            }
        }

        .cc-note {
            color: lighten(#4B5C6D, 40%);
            border-top: 1px solid rgba(#FFF, 0.1);
            padding: 0.5em 1em;
            margin-top: auto;
        }
    } // End sidebar
}
